@model List<DataAccess.DTO.PostDTO>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <section class="popular-banner">
        <div class="popular-banner-title flex-row mb-1">
            <h3 class="d-inline-block">Popular this Month |</h3>
            <a href="">
                View top 10 post this Month
            </a>
        </div>
        <div class="row mb-5">
            @foreach (var post in Model)
            {
                <div class="col-md-3">
                    <div class="card popular-card">
                        <!--Tao cần image. Please!-->
                        <div class="wrapper"
                             style="background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg)
                               center / cover no-repeat;">
                            <div class="header">
                                <div class="date">
                                    <span class="day">@post.PublishedAt.Day</span>
                                    <span class="month">@post.PublishedAt.Month</span>
                                    <span class="year">@post.PublishedAt.Year</span>
                                </div>
                                <ul class="menu-content">
                                    <li>
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                    </li>
                                    @* <li> *@
                                    @*     <a href="#" class="fa fa-heart-o"> *@
                                    @*         <!--Tao can so luong like va comment please--> *@
                                    @*         <span>18</span> *@
                                    @*     </a> *@
                                    @* </li> *@
                                    @* <li> *@
                                    @*     <a href="#" class="fa fa-comment-o"> *@
                                    @*         <span>3</span> *@
                                    @*     </a> *@
                                    @* </li> *@
                                </ul>
                            </div>
                            <div class="data">
                                <div class="content">
                                    <!--Tao cần map author(user) với post. Please !!  -->
                                    <span class="author">@post.Author.FullName</span>
                                    <h4 class="title">
                                        <a href="#">@post.Title</a>
                                    </h4>
                                    <p class="text">
                                        @post.Summary
                                    </p>
                                    <a asp-action="OnGetPostDetail"
                                       asp-route-id="@post.Id"
                                       asp-controller="Home" class="button">
                                        Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <main class="blog-post mb-5">
        <section class="blog-post-content">
            <div class="blog-post-content-wrapper">
                <div class="blog-post-content-filter">
                    <button class="btn btn-dark">Most Votes</button>
                    <button class="btn btn-dark">Newest Post</button>
                </div>
                <div class="blog-post-content-card mt-4">
                    @foreach (var post in Model)
                    {
                        <div class="post-card flex-row mb-5">
                            <div class="post-card-image-wrapper col-md-4">
                                <img class="post-card-image"
                                     src="https://images.unsplash.com/photo-1573592371950-348a8f1d9f38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1949&q=80"
                                     alt="">
                            </div>
                            <div class="post-card-content-wrapper col-md-7">
                                <div class="post-card-content">
                                    <div class="post-card-content-tag">
                                        <a asp-action="Index" asp-controller="Tag">Games</a>
                                        <span class="position-absolute end-0 bookmark">
                                            <i class="fa-regular fa-bookmark"
                                               style="font-size: 24px">
                                            </i>
                                        </span>
                                    </div>
                                    <div class="post-card-content-title">
                                        <a asp-action="OnGetPostDetail"
                                           asp-route-id="@post.Id"
                                           class="text-dark">
                                            <h4>
                                                @post.Title
                                            </h4>
                                        </a>
                                        <p>@post.Summary</p>
                                    </div>
                                    <div class="post-card-content-author position-relative">
                                        <img src="" alt="Author">
                                        <a href="" class="text-dark">
                                            <span>@post.Author.FullName</span>
                                            <span class="date-posted">| @post.PublishedAt.ToShortDateString()</span>
                                        </a>
                                        @* <div class="post-card-content-action d-inline-block"> *@
                                        @*     <span class="post-card-content-action-comment"> *@
                                        @*         <i class="fa-regular fa-message" *@
                                        @*            style="font-size: 18px"> *@
                                        @*         </i> *@
                                        @*         <span>10</span> *@
                                        @*     </span> *@
                                        @*     <span class="post-card-content-action-like"> *@
                                        @*         <i class="fa-regular fa-heart" *@
                                        @*            style="font-size: 18px"> *@
                                        @*         </i> *@
                                        @*         <span>10</span> *@
                                        @*     </span> *@
                                        @* </div> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </section>
        <aside class="blog-post-tag mx-auto p-3">
            <h4>Topics</h4>
            <div class="tags-list mb-3  ">

            </div>
        </aside>

    </main>
    <script src="~/js/fetchTag.js"></script>
</div>