@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataAccess.DTO.PostDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container post-detail">


    <div class="post-detail-container ">
        <div class=" mx-auto border-bottom ">
            <div class="post-detail-header mb-5 ">
                <a href="" class="text-primary">Game</a>
                <h2 class="post-detail-title">@Model.Title</h2>
                <span class="mb-5">
                    <i>@Model.Summary</i>
                </span>
                <div class="author-section">
                    <span>@Model.Author.FullName</span>
                </div>
            </div>
            <div class="post-detail-content">
                <p>@Model.Content</p>
            </div>
        </div>
        <div class="post-detail-author p-3 mt-3">
            <img src="" alt="Author">
            <span>@Model.Author.FullName</span>
            <button class="btn btn-light">Follow</button>
        </div>
        <section class="post-detail-comment-section border-dark">
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolores esse et illum nostrum perferendis quod repudiandae sapiente, sunt, totam, vel voluptate! Ducimus nemo nostrum quae quasi qui rem unde?</p>
            </div>
        </section>
    </div>
</section>
<script src="~/js/comment.js"></script>