@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DataAccess.DTO.PostDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container post-detail">


    <div class="post-detail-container ">
        <div class=" mx-auto border-bottom ">
            <div class="post-detail-header mb-5 ">
                <a href="" class="text-primary">Game</a>
                <h2 class="post-detail-title">@Model.Title</h2>
                <span class="mb-5">
                    <i>@Model.Summary</i>
                </span>
                <div class="author-section">
                    <span>@Model.Author.FullName</span>
                </div>
            </div>
            <div class="post-detail-content">
                <p>@Model.Content</p>
            </div>
        </div>
        <div class="post-detail-author p-3 mt-3">
            <img src="" alt="Author">
            <span>@Model.Author.FullName</span>
            <button class="btn btn-light">Follow</button>
        </div>
        <section class="post-detail-comment-section  my-4 pb-4"
                 id="comment-section">
            <div id="comment-form">
                <form action="" class="comment-form">
                    <input class="comment-data border-0"
                           id="commentData"
                           placeholder="Nhap cam nghi cua ban: "/>
                    <button type="submit" class="btn btn-light">Send</button>
                </form>
            </div>
            <div class="comment-tree">
                <div class="comment-node">
                    <div class="comment-node-header mb-3">
                        <div class="avatar ">
                            <img src="" alt="avatar">
                        </div>
                        <div class="info mx-3">
                            <div class="user">ChisKien</div>
                            <div class="date-posted">20-07-2022</div>
                        </div>
                    </div>
                    <div class="comment-node-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi culpa deleniti dolorum eius et, facere, fugit harum itaque numquam quis quo. Autem cum fugit omnis qui quidem temporibus!</p>
                    </div>
                    <div class="comment-node-action">
                        <button class="btn btn-light px-2 py-1">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                        <button class="btn btn-light px-2 py-1">Reply</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<script src="~/js/comment.js"></script>